<div class="content-manage mt20">
    <header>
        <h1>VIP课程咨询页配置-推荐课程</h1>
        <button type="button" class="btn btn-default btn-big" id="addRecommendCourse">+&nbsp;新增</button>
    </header>
</div>




<div class="table-box">
    <p class="mb10">注：每小时更新变更的内容</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>排列</th>
                <th>课程包售卖名称</th>
                <th>配图</th>
                <th>标签</th>
                <th>创建时间</th>
                <th>创建人</th>
                <th>最后一次更新时间</th>
                <th>操作人</th>
                <th>编辑</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table> 
</div>

