<div class="dialog-container">
    <div class="dialog-bg"></div>
    <article class="dialog" style="min-width: 340px; top: 35%;">
        <section class="dialog-body">
            <div class="dialog-body-inner">
                {{{content}}}
            </div>
        </section>
        <footer class="dialog-footer">
            <div class="dialog-footer-inner" style="width: 255px; margin: 0px auto;">
                <a href="javascript:void(0)" class="btn btn-cancel w120" style="display: inline-block;margin-right: 10px;">取消</a>
                <a href="javascript:void(0)" class="btn btn-default w120 btn-submit" style="display: inline-block;">确定</a>
            </div>
        </footer>
    </article>
</div>
