<!-- <p>注：每小时更新变更的内容</p> -->
<div class="content-manage">
    <header>
        <h1>免费课程开课配置</h1>
        <button class="btn btn-primary btn-default w140" id="addFreeCourse">+&nbsp;新增</button>
    </header>
    <div class="table-box">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="class-name">课程名称</th>
                    <th>课程图片</th>
                    <th>讲师名称</th>
                    <th>帖子ID</th>
                    <th>上课开始时间</th>
                    <th>创建时间</th>
                    <th>创建人</th>
                    <th>最后一次更新时间</th>
                    <th>操作人</th>
                    <th>编辑</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>